<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Royal Estate Admin</title>
    
    <link rel="stylesheet" href="/TemplateAdmin/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/TemplateAdmin/vendors//TemplateAdmin/css/vendor.bundle.base.css">
    
    <link rel="stylesheet" href="/TemplateAdmin/css/vertical-layout-light/style.css">

    <link rel="shortcut icon" href="/TemplateAdmin/images/favicon.png" />

    <!-- sweetalert cdn -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">
            
            @await Component.InvokeAsync("NavBar")
            
            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()

                    <script>
                        if ("@TempData["text"]" != "")
                        {
                            Swal.fire({
                                position: "center",
                                icon: "@TempData["icon"]",
                                html: "@TempData["text"]",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    </script>

                </div>
            </div>
            
        </div>
        
    </div>
    
    @await Component.InvokeAsync("DapperRealEstate.Areas.Admin.ViewComponents.Scripts")

    @RenderSection("Scripts", false)
    
</body>
</html>

